body {
  margin: 0;
  padding: 0;
  font-family:  Verdana, Arial; font-size: 12px;
  background-color: white;
}

.hidden { display:none; }
.flex { display:flex; }

.message {
  width: 500px;
  background-color: #eef;
  border: 1px solid #00f;
  padding: 10px;
  cursor: pointer;
}

label.required:before {
  content: "(*) ";
  color:red;
}